<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Licensing Of Vehicles for Everyone</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

	<style type="text/css">

		img.logo {
			margin-top: 1em;
		}

		a {
			margin-top: 2em;
			margin-left: 0.5em;
			float: right;
		};

	</style>

</head>

<body>

	<div class="container">
	  <div class="row">

	    <div class="col-8">
	      <img class = "logo" src="./assets/LOVE_Logo_Final.png" width="100px" height="100px">
	    </div>

	    <div class="col">
	      <a class="btn btn-outline-primary" href="/guest" role="button">Guest</a>
	      <a class="btn btn-outline-primary" href="/admin" role="button">Admin</a>
	    </div>

	    <div class="col-12 d-flex justify-content-center">
	      <img class = "banner" src="./assets/LOVE_Banner.jpg">
	    </div>

	    <div class="col-6" style="margin-top: 5em !important;">
	    	<div class="embed-responsive embed-responsive-4by3">
			  <video class="embed-responsive-item" src="./assets/LOVE_Video.mp4" width = "100%" loop controls></video>
			</div>
	    </div>

	    <div class="col">
	    	<div>
	    		<p style="margin-top: 10em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	    	</div>
	    </div>

	  </div>
	</div>

</body>

</html>